<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>New Bus Reservation</h1>
      <%= render 'form', bus_reservation: @bus_reservation %>
    </div>
  </div>
</div>
